body{
	background-color: var(--background);
	margin: 0px;
	user-select:none;
}
/* --------------------------------------CSS Variables------------------------*/
:root{
	/*-------------------colors----------#0c1027--------*/
	--white: white;
	--background: #121212;
	--brand-color: #23d061;
	--red:#f3d055;
	--search:#161616;
	--lightgrey:lightgrey;
	/*-----------X--------colors--------X----------*/
	/*----------------------fonts----------------*/
	--defFont: sans-serif;
	/*----------------X-----fonts---------X---------*/
}
/* -----------------X---------------------CSS Variables---------------X---------*/
/*-----------Global------------------------------------------*/
.horiz-list{
	list-style: none;
	flex-direction: row;
	display: flex;
	margin: 0px;
	margin-top: 4vh;
}
.horiz-list li{
	color: var(--white);
	font-family: var(--defFont);
	margin-top: 2%;
}
.brand-icon a{
	color: var(--brand-color);
	font-size: 2rem;margin-right: .5rem;
}
.brand-icon{
	font-size: 2rem;
	margin-top: -.5rem;
	font-weight: bolder;
}
.favourites{
	margin-left: 4%;
	margin-right: 10%;
	font-size: 1.6rem;
	margin-top: 0%;
}
.favourites:hover{
	cursor: pointer;
}
.circular:hover{
	box-shadow: 0rem 0rem 0.375rem 0.25rem rgba(230,196,196,0.3);
}
.artist-img{
	height: 17.5vh;
	background-size: cover;
	background-position: center;
	margin-top: 2.5vh;
	margin-bottom: 1vh;
}
.artist-img:hover{
	height: 20vh;
	margin-top: .5vh;
	margin-bottom: .5vh
}
/*--------X---Global-----------------X-------------------------*/




/* ------------------------------------navbar-------------------------------- */
nav{
	margin-left: 4vw;
	width: 95vw;
	height: 7vh;
}



.searchbar{
	margin-left: 30%;
	margin-right: 10%
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  background: var(--search);
  padding: 5px;
  height: 26px;
  border-radius: 5px 0 0 5px;
  outline: none;
  border: none;
  color: var(--white);
  font-family: var(--defFont);
}


.searchButton {
  width: 40px;
  height: 36px;
  border:none;
  background: var(--search);
  text-align: center;
  color: var(--white);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 18%;
  margin-top: 1%;
  position: absolute;

  transform: translate(-50%, -50%);
}
::placeholder{
	color: white;
	font-family: var(--defFont);
}
.bell{
	margin: 4% 4% 0% 2%;
}
.bell a{
	color: var(--white);
	font-size: 2rem;
}
.bell a:hover{
	color: var(--red);
	font-size: 2.1rem;
}
.user{
	margin: 4% 4% 0% 2%;
}
.user a{
	color: var(--white);
	font-size: 2rem;
}
.user a:hover{
	color: var(--red);
	font-size: 2.1rem;
}



/* ----------------------XX--------------navbar-----------------XX--------------- */

/* --------------------------------------------------------container----------------------------------------------------------*/
#container{
	height: fit-content;
	width: fit-content;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* ---------------------------------------X-----------------container--------------------------X--------------------------------*/

/*-----------------------------------------main---------------------------------------------------------*/
main{
	margin: 5vh 0vw 0vh 5vw;
	height: fit-content;
	width: 65vw;
	/*background-color: white;*/
}

/*-----------------------------------popular-------------------------------------*/
[type=radio]{
	display: none;
}
#popular{
	margin: 5vh 3vw 5vh 0vw;
	height: 48vh;
	
	width: 62vw;
	/*background-color: pink;*/
	/*background-image: url(../assets/populari1.jpg);*/
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
}
#popular label{
	margin: auto;
	width: 65%;
	height: fit-content;
	border-radius: 4px;
	position: absolute;
	left: 0;
	right: 0;
	cursor: pointer;
	transition: transform 0.4s ease-in-out;
}
#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3{
	box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
	transform: translate3d(-30%,0,-200px);
}
#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4{
	box-shadow: 0 6px 10px 0 rgba(0,0,0,.3),0 2px 2px 0 rgba(0,0,0,.2);
	transform: translate3d(-15%,0,-100px);
}
#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide2, #s4:checked ~ #slide4,
#s5:checked ~ #slide5{
	box-shadow: 0 13px 25px 0 rgba(0,0,0,.3),0 11px 7px 0 rgba(0,0,0,.19);
	transform: translate3d(0,0,0);
}
#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide3, #s4:checked ~ #slide5,
#s5:checked ~ #slide1{
	box-shadow: 0 6px 10px 0 rgba(0,0,0,.3),0 2px 2px 0 rgba(0,0,0,.2);
	transform: translate3d(-15%,0,-100px);
}
#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2{
	box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
	transform: translate3d(30%,0,-200px);
}
/*---------------------X--------------popular-----------------X------------https://wallpapercave.com/wp/wp4401241.jpg--------*/

/*-----------------------------------aside-------------------------------------*/
/*---------------------X--------------aside--------------------X-----------------*/
/*-----------------------------------latest-------------------------------------*/
#latest{
	height: fit-content;
	width: 62vw;
	margin: 0vh 3vw 0vh 0vw;
	/*background-color: orange;*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.latest-head{
	color: var(--white);
	font-family: var(--defFont);
	font-size: 1.7rem;
	width: 60vw;
	margin-top: 1vh;
	margin-left: 2vw;
	height: fit-content;
	font-weight: bold;
}
.latest-content{
	width: 28vw;
	height: 20vh;
	/*background-color: black;*/
	margin-top: 2vh;
	margin-bottom: 2vh;
	display: flex;
	flex-direction: row;
	cursor: pointer;
}
.lcl{
	margin-left: 2.5vw;
	margin-right: 1.5vw;
}
.lcr{
	margin-left: 1.5vw;
}
.latest-img{
	height: 20vh;
	width: 9vw;
	/*background-color: grey;*/
	margin-right: 2vw;
	background-size: cover;
	background-position: center;
}
#latest-img1{
	background-image: url(../assets/latest1.jpg);
}
#latest-img2{
	background-image: url(../assets/latest2.jpg);
}
#latest-img3{
	background-image: url(../assets/latest3.webp);
}
#latest-img4{
	background-image: url(../assets/latest4.jpg);
}
.latest-text{
	width: 10vw;
	height: 20vh;
	/*background-color: green;*/
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.latest-text1{
	width: 10vw;
	margin-top:1vh;
	font-family: var(--defFont);
	font-size: 1.6rem;
	color: var(--white);
	height: 9vh;
	/*background-color: pink;*/
}
.latest-text1:hover{
	color: var(--brand-color);
}
.latest-text2{
	width: 10vw;
	margin-top: 1vh;
	font-family: var(--defFont);
	font-size: 1.25rem;
	color: var(--lightgrey);
	height: 9vh;
	/*background-color: red;*/
}
.latest-icons{
	width: 7vw;
	height: 20vh;
	/*background-color: blue;*/
	margin-left: 2vw;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.latest-icon1{
	padding-left: 5vw;
	color: var(--lightgrey);
	font-size: 1.3rem;
	margin-top: .5vh;
	height: 7vh;
	width: 7vw;
}
.latest-icon1:hover{
	color: var(--red);
}
.latest-icon-dur{
	color: var(--lightgrey);
	font-size: 1.3rem;
	padding-left: 4.4vw;
	height: 9vh;
	width: 7vw;
}
/*------------------------X-----------latest---------------X----------------------*/
/*-----------------------------------artists-------------------------------------*/
#artists{
	height: fit-content;
	width: 62vw;
	margin: 5vh 3vw 0vh 0vw;
	/*background-color: blue;*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.artist-content{
	height: fit-content;
	width: 10vw;
	margin-left:1vw;
	margin-right: 1vw;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.artist-content:hover{
	cursor: pointer;
}
.artist-img0{
	background-size: cover;
	background-position: center;
	margin-top: 2.5vh;
	margin-bottom: 1vh;
	overflow: hidden;
}
.artist-img0 img{
	width: 100%;
	transition: transform .2s;

}
.artist-img0 img:hover{
	transform: scale(1.5);
	filter: brightness(50%);
}
.artist-text{
	color: var(--white);
	font-size: 1.3rem;
	font-family: var(--defFont);
	text-align: center;
}
.linkTo{
	text-decoration: none;
}
/*---------------------X--------------artists------------------X-------------------*/
/*-----------------------------------genre-------------------------------------*/
#genre{
	height: fit-content;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 62vw;
	margin: 5vh 3vw 0vh 0vw;
	/*background-color: green;*/
}
#genre-img1{
	background-image: url(../assets/genre-img1.jpg);
}
#genre-img2{
	background-image: url(../assets/genre-img2.jpeg);
}
#genre-img3{
	background-image: url(../assets/genre-img3.jpg);
}
#genre-img4{
	background-image: url(../assets/genre-img4.webp);
}
#genre-img5{
	background-image: url(../assets/genre-img5.jpg);
}
/*---------------------X--------------genre-----------------X--------------------*/
/*-------------------------------------------------------mood-----------------------------------------------------*/
#mood{
	/*background-image: linear-gradient( 292.9deg,  rgba(254,105,241,1) 28.8%, rgba(182,44,248,1) 70.4% );*/
	background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	width: 62vw;
	height: fit-content;
	display: flex;
	flex-direction: row;
	
	margin: 5vh 3vw 0vh 0vw;
	overflow: hidden;
}
#moodhead{
	text-align: center;
	margin: 8vh 1vw 2vh 2vw;
	background-color: #F4D03F;
background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);

	height: 11vh;
	color: var(--white);
	font-size: 2rem;
	font-family: var(--defFont);
	width: 20vw;
	padding-top: 8vh;
	transition: transform .2s ease-in-out;
}
#moodhead:hover{
	transform: scale(1.35);
	background-image: radial-gradient( circle 929px at 0.6% 1.3%,  rgba(248,251,10,1) 0%, rgba(248,47,47,1) 82.6% );
	color: var(--background-color);
	cursor: pointer;
}
#moodcontent{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: fit-content;
	margin-bottom: 5vh;
	margin-top: 4vh;
}
.moodcontentimgs{
	width: 10vw;
	position: relative;
	margin-left: 3vw;
	height: 15vh;
	
	overflow: hidden;
	margin-top: 2vh;
}
.mooditext{
	position: absolute;
	font-size: 1.5rem;
	color: var(--white);
	top: 0%;
	left: 0%;
}
.moodcontentimgs img{
	width: 100%;
	height: 100%;
	transition: transform .2s ease-in-out;
}
.moodcontentimgs img:hover{
	transform: scale(1.5);
	filter: brightness(40%);
	cursor: pointer;
}
/*----------------------X---------------------------------mood-------------------------X----------------------------*/

/*-----------------------------------pahari songs-------------------------------------*/
#pahari{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: fit-content;
	width: 62vw;
	margin: 5vh 3vw 0vh 0vw;
	/*background-color: grey;*/
}
#pahari-img1{
	background-image: url(../assets/qi11.jpg);
}
#pahari-img2{
	background-image: url(../assets/pahariimg2.png);
}
#pahari-img3{
	background-image: url(../assets/pahariimg3.jpg);
}
#pahari-img4{
	background-image: url(../assets/pahariimg4.jpg);
}
#pahari-img5{
	background-image: url(../assets/pahariimg5.jpg);
}
/*---------------------X--------------pahari songs--------------X-----------------------*/
/*-----------------------------------popular albums-------------------------------------*/
#albums{
	height: fit-content;
	width: 62vw;
	margin: 5vh 3vw 20vh 0vw;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	/*background-color: red;*/
}
.artist-img{
	background-image: url(../assets/albumi1.png);
	position: relative;
}
.artist-img :not(img){
	
	
	color: white;
	z-index: 1;
	width: 100%;
	text-align: center;
	opacity: 0;
	transition: .3s;
	font-size: 3rem;
	color: white;
}
.er{
	position: absolute;
	top:35%;
}
.artist-img:hover{
	opacity: 0.7;
}
.artist-img:hover :not(img){
	opacity: 1;
}

#album-img2{
	background-image: url(../assets/albumi2.jpg);
}
#album-img3{
	background-image: url(../assets/albumi3.jpg);
}
#album-img4{
	background-image: url(../assets/albumi4.jpg);
}
#album-img5{
	background-image: url(../assets/albumi5.jpg);
}
/*-------------X----------------------popular albums-----------------X--------------------*/
/*------------------------------------audio-box-------------------------------------------*/

#play{
	display: flex;
	flex-direction: row;
	/*background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);*/
	background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: fit-content;
	width: 100%;
	bottom: 0;
	position: fixed;
}
#song_des{
	margin-left: 5%;
	width: 20%;
	
	display: flex;
	flex-direction: row;
}
#controls{
	width: 40%;
	display: flex;
	flex-direction: column;
}
#sound{
	width: 30%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#sound div{
	margin-right: 2%;
}
#sound div a{
	color: var(--white);
}
#song_photo{
	overflow: hidden;
	width: 20%;
	padding-top: 2%;
	padding-bottom: 2%;
}

#song_photo img{
	height: 100%;
	width: 100%;
	transition: transform .2s;
}
#song_photo img:hover{
	transform: scale(1.5);
}
#song_text{
	width: 50%;
	color: var(--white);
	font-family: var(--defFont);
	margin-top: 4%;
	margin-left: 3%;

	font-size: 1.4rem;
}
#controls-up{
	display: flex;
	flex-direction: row;
	height: 45%;
	margin-top: 3%;
	justify-content: space-around;
}
#controls-up a{
	color: var(--white);
	font-size: 1.5rem;
}
#controls-up a:hover{
	color: var(--lightgrey);
}
#controls-down{
	display: flex;
	flex-direction: row;
	height: 40%;
	margin-top: 2%;
	justify-content: center;
}
.time{
	color: var(--white);
	font-size: 1.3rem;
	margin-left: 1rem;
	margin-right: 1rem;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.5;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
.slidecontainer{
	width: 60%;
}
/*--------------X----------------------audio-box-------------------X------------------------*/

/*------------X----------------------------main-------------------------------------X--------------------*/
/*----------------------------------------aside-------------------------------------------*/
aside{
	width: 25vw;
	height: fit-content;
	/*background-color: yellow;*/
	margin-top: 5vh;
	margin-left: 2vw;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
#qhead1{
	color: var(--white);
	font-size: 1.7rem;
	font-family: var(--defFont);
	margin-bottom: 2rem;
	font-weight: bold;
}
#qhead2{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-bottom: 1rem;
}
#qhead21{
	font-size: 1.4rem;
	color: var(--brand-color);
	font-family: var(--defFont);
	margin-left: 17.5rem;
	margin-right: .5rem;
}
#qhead22{
	font-size: 1.4rem;
	color: var(--brand-color);
	font-family: var(--defFont);
}
#qhead22:hover{
	color: white;
}
.qelement{1.3rem
	margin-bottom: 2vh;
	display: flex;
	flex-direction: row;
	height: 8vh;
	width: 100%;
	/*background-color: red;*/
}
.qelement:hover{
	/*border: .6px solid var(--lightgrey);*/
	cursor: pointer;
}
.qelementImg{
	height: 100%;
	width: 17%;
	/*background-color: orange;*/
	
	background-size: cover;
	background-position: center;
}
.qelementText{
	height: 100%;
	width: 56%;
	margin-left: 2%;
	margin-right: 5%;
	/*background-color: pink;*/
	display: flex;
	flex-direction: column;
}
.text-up{
	height: 50%;
	padding-top: 3%;
	font-family: var(--defFont);
	color: var(--white);
	font-size: 1.3rem;
}
.text-up:hover{
	color: var(--brand-color);
}
.text-down{
	height: 50%;
	font-family: var(--defFont);
	color: var(--lightgrey);
	font-size: 1rem;
}
.qelementHeart{
	height: 100%;
	width: 20%;
	font-size: 2rem;
	color: var(--lightgrey);
	padding-top: 2%;
	/*background-color: violet;*/
}
.qelementHeart:hover{
	font-size: 2.1rem;
	color: var(--red);
}
#qimg1{
	background-image: url(../assets/qi1.jpg);
}
#qimg2{
	background-image: url(../assets/qi2.jpeg);
}
#qimg3{
	background-image: url(../assets/qi3.jpg);
}
#qimg4{
	background-image: url(../assets/qi4.jpg);
}
#qimg5{
	background-image: url(../assets/qi5.jpg);
}
#qimg6{
	background-image: url(../assets/qi6.jpg);
}
#qimg7{
	background-image: url(../assets/qi7.jpeg);
}
#qimg8{
	background-image: url(../assets/qi8.jpg);
}
#qimg9{
	background-image: url(../assets/qi9.jpg);
}
#qimg10{
	background-image: url(../assets/qi10.jpg);
}
#qimg11{
	background-image: url(../assets/qi11.jpg);
}
#qimg12{
	background-image: url(../assets/qi12.jpg);
}
#qimg13{
	background-image: url(../assets/qi13.webp);
}
#qimg14{
	background-image: url(../assets/qi14.jpg);
}
#qimg15{
	background-image: url(../assets/qi15.png);
}
#qimg16{
	background-image: url(../assets/qi16.jpg);
}
/*-------------X---------------------------aside--------------------X-----------------------*/
/*---------------------------------------------------Media Queries--------------------------------------*/
@media(max-width: 1450px){
	.text-up{
		font-size: 1.1rem;
	}
	.text-down{
		font-size: .9rem;
	}
	#qhead21{
	    font-size: 1.2rem;
	    margin-left: .5rem;
	    margin-right: .5rem;
    }
    #qhead22{
	font-size: 1.2rem;
    }
    #qhead1{
    	font-size: 1.55rem;
    }
    .qelementHeart{
    	font-size: 1.6rem;
    }
    .qelementHeart:hover{
    	font-size: 1.7rem;
    }
    .brand-icon{
    	font-size: 1.5rem;
    }
    .brand-icon a{
    	font-size: 1.5rem;
    }
    .favourites{
    	font-size: 1.3rem;
    }
    .favourites:hover{
    	font-size: 1.32rem;
    }
    .bell a {
    font-size: 1.3rem;
    }
    .bell a:hover{
    font-size: 1.32rem;
    }
    .user a{
    font-size: 1.3rem;
    }
    .user a:hover{
    font-size: 1.32rem;
    }
    .artist-content{
    	width: 15vw;
    }
    .latest-head{
    	font-size: 1.5rem;
    }
    .artist-text{
    	font-size: 1.1rem;
    }
    .latest-text1{
    	font-size: 1.4rem;
    }
    .latest-text2{
    	font-size: 1.1rem;
    }
    .latest-icon1{
    	font-size: 1rem;
    }
    .latest-icon-dur{
    	font-size: 1rem;
    }
}
@media(max-width: 1000px){
	#mood{
		width: 90vw;
	}
	.moodcontentimgs{
		width: 18vw;
	}
	#sound3{
		margin-left: 4%;
	}
	#song_des{
		width: 40%;
	}
	#sound{
		width: 20%;
	}
	#popular{
		width: 95%;
		height: 35vh;
	}
	.artist-content{
		width: 28vw;
	}
	aside{
		width: 95vw;
		margin-bottom: 25vh;
	}
	
	.text-up{
		font-size: 1.3rem;
	}
	.text-down{
		font-size: 1.1rem;
	}
	.qelementText{
		width: 62%;
		margin-left: 8%;
	}
	.qelement{
		margin-left: 10%;
		width: 90%;
	}
	.qelementheart{
		width: 8%;
	}
	#qhead1{
		margin: auto;
		font-size: 1.6rem;
	}
	#qhead2{
		visibility: hidden;
	}
	main{
		width: 95vw;
	}
	#genre{
		width: 90vw;
	}
	#pahari{
		width: 90vw;
	}
	#artists{
		width: 90vw;
	}
	#albums{
		width: 90vw;
		margin-bottom: 0vh;
	}
	#latest{
		width: 90vw;
	}
	.latest-content{
		width: 80vw;
	}
	.latest-img{
		width: 35vw;
		margin-right: 8vw;
	}
	.latest-text{
		width: 35vw;
	}
	.searchbar{
		visibility: collapse;
		margin-left: 0%;
		margin-right: 0%;
	}
	.bell a {
    font-size: 1.1rem;
    }
    .bell a:hover{
    font-size: 1.12rem;
    }
    .user a{
    font-size: 1.1rem;
    }
    .user a:hover{
    font-size: 1.12rem;
    }
    
    nav{
    	margin-left: 0px;
    }
    #song_text{
    	font-size: 1.1rem;
    }
}
@media(max-width: 750px){
	#popular{
		width: 100%;
		height: 25vh;
	}
	#song_text{
    	font-size: 1rem;
    }
}
@media(max-width: 500px){
	#mood{
		flex-direction: column;
		align-items: center;
	}
	.moodcontentimgs{
		width: 35vw;
	}
	#moodhead{
		width: 40vw;
		font-size: 1.2rem;
		margin-top: 4vh;
		margin-bottom: 0vh;
	}
	#moodcontent{
		justify-content: center;
		margin-top: 2vh;
	}
	#sound{
		visibility: collapse;
	}
	#song_text{
    	font-size: .9rem;
    }
	#song_photo{
		width: 50%;
	}
	#song_des{
		width: 50%;
	}
	#controls{
		width: 80%;
		margin-left: 5%;
	}
	.time{
		font-size: 1rem;
	}
	#popular{
		height: 17vh;
	}
	.artist-content {
    width: 50vw;
    }
    #genre{
    	justify-content: center;
    }
    .latest-head{
    	text-align: center;
    	color: var(--red);
    }
    #pahari{
		justify-content: center;
	}
	#artists{
		justify-content: center;
	}
	#albums{
		justify-content: center;
	}
	#latest{
		justify-content: center;
	}
	 body{
		background-color: #7f5a83;
        background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    }
    #qhead1{
    	color: var(--red);
    }
    #controls-up a{
    	font-size: 1.25rem;
    }
    .text-up{
    	font-size: 1.2rem;
    }
    .text-down{
    	font-size: 1rem;
    }
 	.favourites{
		visibility: collapse;
		margin-left: 6vw;
		margin-right: 0px;
		width: 0px;
	}
	main{
		margin-top: 0vh;
	}
}
@media(max-width: 300px){
	.bell{
		visibility: collapse;
		width: 0vw;
	}
	.user{
		visibility: collapse;
		width: 0vw;
	}
	.text-up{
		font-size: 1rem;
	}
	.text-down{
		font-size: .8rem;
	}
}
/*--------------X-------------------------------------Media Queries-------------X-------------------------*/